* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
  background: #fffafc;
  color: #333;
}

h1,
h2,
h3 {
  margin: 0;
  color: #3d195b;
}

p {
  color: #666;
  line-height: 1.6;
}