@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


@import "./styles/global.css";
@import "./styles/navbar.css";
@import "./styles/hero.css";
@import "./styles/benefits.css";
@import "./styles/categories.css";
@import "./styles/catalog.css";
@import "./styles/forms.css";
@import "./styles/footer.css";
@import "./styles/responsive.css";


img {
  max-width: 100%;
  display: block;
}


h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.2;
}


p {
  font-weight: 400;
  line-height: 1.6;
}


a {
  text-decoration: none;
}